<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }} | El peor blog</title>
    </head>
    <body>
      <h1>El peor blog</h1>
      <nav>
          <ul>
              <li><a href="/">Índice</a></li>
              <li><a href="/about">¿Qué es esto?</a></li>
          </ul>
      </nav>
      <div>
      <h2>{{ page.title }}</h2>

      {{ content }}
      </div><!-- /.container -->
      <footer>
        <p style="font-size: 12px;">El peor blog</p>
      </footer>
    </body>
  </html>
